<% layout('layout') %>
<h2 style="margin-top: 50px;"> This is a profile page</h2>

<h2>Hello Mr/ms <%= user.name%></h2>
<h2>Your username is: <%= user.username %></h2>
<h2>Your email is <%= user.email %></h2>
